{
    "presets": [
        [
            "@babel/preset-env",
	        {
        	"useBuiltIns": "entry",
                "targets": {
                    "node": "6.10",
                    "esmodules": true
                }
            }
        ]
    ],
    "plugins": ["@babel/plugin-proposal-object-rest-spread"]
}
