.account-masthead {
    background-color: rgb(196,77,88);
}

.dataset-title {
    padding: 30px;
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    line-height: 1;
}

.terms-and-conditions {
    padding: 10px;
    font-size: 10px;
    font-weight: bold;
    text-align: left;
    line-height: 1;
}

.remove-entries {
    height: 45px;
    margin-bottom: 20px;
    font-size:14px;
    float: right;
    margin-right: 0;
    top: 4px;
    right: 5px;
    padding: 0 12px;
    border-radius: 100px;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #da4f49;
    background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    display: inline-block;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid #cccccc;
    box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
    text-decoration: none;
}

.required:before {
    content:"* ";
    color: lightcoral;
}

.hidden {
    display:none;
}

select:invalid { color: gray; }