{% set stage = stage or 1 %}
{% set include_metadata = include_metadata or false %}

{% extends resource_form_snippet %}

{% block stages %}{% endblock %}

{% block previous_button %}{% endblock %}

{% block again_button %}{% endblock %}

{% block save_button_text %}{{ _('Update Resource') }}{% endblock %}

{% block scripts %}
  <script src="../../../../wfs_checker/bundle.js" type='text/javascript'></script>
  <link rel="stylesheet" type="text/css" href="../../../../wfs_checker/theme.css">
{% endblock %}